@* AlertDialogContent *@
@if (Dialog?.Open == true)
{
    <div class="fixed inset-0 z-50 bg-black/80" />
    <div class="fixed left-[50%] top-[50%] z-50 grid w-full max-w-lg translate-x-[-50%] translate-y-[-50%] gap-4 border bg-background p-6 shadow-lg sm:rounded-lg @Class"
         role="alertdialog" aria-modal="true">
        @ChildContent
    </div>
}

@code {
    [CascadingParameter] public AlertDialog? Dialog { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
}
