@* CommandGroup *@
<div class="overflow-hidden p-1 text-foreground @Class">
    @if (!string.IsNullOrEmpty(Heading))
    {
        <div class="px-2 py-1.5 text-xs font-medium text-muted-foreground">@Heading</div>
    }
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public string? Heading { get; set; }
}
