@* ContextMenuLabel *@
<div class="px-2 py-1.5 text-sm font-semibold text-foreground @(Inset ? "pl-8" : "") @Class">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public bool Inset { get; set; }
}
