@* DropdownMenu *@
<div class="relative inline-block @Class">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }

    public bool IsOpen { get; private set; }

    public void Toggle() { IsOpen = !IsOpen; StateHasChanged(); }
    public void Close() { IsOpen = false; StateHasChanged(); }
}
