@* DropdownMenuSubTrigger *@
<div role="menuitem"
     @onclick="() => Sub?.Toggle()"
     class="flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none
            hover:bg-accent focus:bg-accent
            @(Sub?.IsOpen == true ? "bg-accent" : "")
            @(Inset ? "pl-8" : "") @Class">
    @ChildContent
    <svg xmlns="http://www.w3.org/2000/svg" class="ml-auto h-4 w-4" viewBox="0 0 24 24"
         fill="none" stroke="currentColor" stroke-width="2">
        <polyline points="9 18 15 12 9 6"/>
    </svg>
</div>

@code {
    [CascadingParameter] public DropdownMenuSub? Sub { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public bool Inset { get; set; }
}
