@* InputOTPSeparator.razor *@
<div role="separator" @attributes="AdditionalAttributes">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
         fill="currentColor" aria-hidden="true">
        <circle cx="12" cy="12" r="2" />
    </svg>
</div>
@code {
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
