@* MenubarLabel.razor *@
<div class="@CssClass" @attributes="AdditionalAttributes">@ChildContent</div>
@code {
    [Parameter] public bool Inset { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
    private string CssClass => string.Join(" ", "px-2 py-1.5 text-sm font-semibold", Inset ? "pl-8" : "", Class ?? "").Trim();
}
