@* MenubarRadioGroup.razor *@
<div role="group" @attributes="AdditionalAttributes">
    <CascadingValue Value="this">@ChildContent</CascadingValue>
</div>
@code {
    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
    internal async Task Select(string? v) { Value = v; await ValueChanged.InvokeAsync(v); }
}
